 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
 
 * {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
    margin: unset;
    min-height: 100vh;
    font-size: 15px;
    display: grid;
    place-items: center;
 }

 .container {
    max-width: 350px;
    margin: 0 auto;
}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 17px;
    text-align: center;
    margin: 0 1rem;
}

img {
    width: 100%;
    border-radius: 0.675rem;
    height: auto;
}

main {
    background: var(--color-white);
    max-width: 320px;
    padding: 18px;
    border-radius: 1.35rem;
    box-shadow: 0 1.6rem 1.6rem hsla(0, 2%, 63%, 0.5);
    margin: 1.075rem;
}
.text {
    padding: 22px 10px;
}

.text h1 {
    color: hsl(218, 44%, 22%);
    padding-bottom: 15px;
}

.text p {
    color:  hsl(220, 15%, 55%);
}
